* {
  /* --page-bg: #efefef; */
  --text-primary: #676f77;
  --bg-hover: #dddddd;
  --component-bg: #ffffff;
}
.bgHeight {
  min-height: calc(100vh - 6rem);
}
.textColor {
  color: var(--text-color) !important;
}
.tasksBG {
  background-color: var(--bg-color) !important;
  min-width: 325px;
}
/* .main{
    background-color: var(--component-bg);
  } */
.rectangle {
  width: 19px;
  height: 37px;
  background: #e493d8ab;
}
.heightFit {
  height: fit-content;
}
.scroll {
  scrollbar-width: none;
  overflow-y: scroll;
}
.addTask {
  background-color: var(--task-bg-color) !important;
  color: var(--add-task) !important;
}
.btn:hover {
  cursor: pointer;
  scale: 0.95;
  transition: 0.2s;
  color: var(--component-bg) !important;
  background-color: #0d6efd !important;
}
