.section {
  padding: 4px 13px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 240px;
}

.timeToggle {
  background-color: var(--secondary-color) !important;
  padding : 0px !important;
  border: none !important;
  color: var(--primary-color) !important;
  margin: 0px !important;
  font-weight: bold;
  text-align: left;
  transition: all 0.3s ease;
}

.timeToggle:hover {
  color: #0b72f9 !important;
  transform: scale(1.05);
}
.timeToggle:focus {
  outline: none;
}

.time {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-header-color);
  margin-right: 16px;
  font-family: "Space Mono", serif;
}

.amPm {
  font-size: 10px;
  font-weight: bolder;
  color: var(--text-header-color);
  position: absolute;
  left: 74px;
  top: 6px;
}

.clocking {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 16px;
  justify-content: left;
  gap: 5px;
}

@media screen and (max-width: 991px) {
  .section {
    padding: 10px 0;
    background-color: #fff;
    min-width: auto !important;
  }
  
  .timeToggle {
    display: none;
  }
}

