.aside {
  width: 310px;
  /* height: 100vh; */
  background-color: var(--bg-color);
}

.aside img+span {
  color: var(--text-color);
}


.asideBtnActive {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1);
  color: var(--text-asideBtnActive-hover) !important;
  background-color: var(--page-bg) !important;
  font-weight: bold !important;
}

.asideBtnActive:hover {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.2);
}

.asideBtnNormal {
  color: var(--text-primary-Aside) !important;
  font-weight: 500 !important;
  background-color: transparent !important;
}

.asideBtnNormal:hover {
  background-color: var(--page-bg) !important;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.2);
}

@media screen and (max-width: 768px) {
  .asideBtnActive {
    padding: 10px !important;
  }

  .asideBtnNormal {
    padding: 10px !important;
  }

}

/* dropDown */
.btnToggle {
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  transform: rotate(-90deg);
}

[aria-expanded="true"] .btnToggle {
  transform: rotate(0deg);
}

.listCircle {
  list-style-type: disc;
  color: var(--text-primary-Aside);
}

.listCategoryBtn {
  color: var(--text-primary-Aside);
  font-size: 14px;
  font-weight: 500;
}

.listCategoryBtn:focus,
.listCategoryBtn:hover {
  color: var(--primary-color);
}

.CustomTextColor {
  color: var(--text-primary-Aside) !important;
}

.profileMobile {
  width: 1px !important;
}

/* responsive */

@media screen and (max-width: 768px) {
  .aside {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
  }

  .aside ul {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-color);
    padding: 0 20px !important;
  }

  .aside ul i {
    font-size: 24px !important;
  }

  [alt="UserProfile"] {
    width: 35px;
  }
}