:root {
    --bg-color: white ;
    --text-color: #212529;
    --bg-secondary: #32363B;
    --page-bg: #efefef;
    --text-asideBtnActive-hover: #000000;
    --text-primary-Aside: #676F77;
    --bg-icon-header-hover:#e4e4e4;
    --bg-icon-header-hover-shadow:#e4e4e4;
    --text-icon-header: #676F77;
    --primary-color :#2A85FF;
    --text-header-color :#676f77b3;  
    --secondary-color :#EFEFEF;
    --orange : #FF6B56;
    --btn-bg-color:#F4F4F4;
}

.dark-theme {
    --bg-color: #32363B;
    --text-color: #ffffff;
    --bg-secondary: #32363B;
    --page-bg: #3F4348;
    --text-asideBtnActive-hover: #FFBC99;
    --text-primary-Aside: white;
    --bg-icon-header-hover:#3F4348;
    --bg-icon-header-hover-shadow:rgb(81, 80, 80);
    --text-icon-header: #D9D9D9;
    --primary-color: #2A85FF;
    --text-header-color :#676f77b3;  
    --orange : #FF6B56;
    --btn-bg-color:#F4F4F4;
}