.searchIcon {
  position: absolute;
  top: 14px;
  left: 14px;
  transition: all 0.3s ease;
}

.searchInput {
  width: 400px;
  padding: 10px 0 10px 38px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: var(--secondary-color);
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  text-transform: capitalize;
  caret-color: var(--primary-color);
}
  
.searchInput:is(:hover, :focus) ~ img {
    transform: scale(1.2);
}

.searchInput::placeholder {
  color: var(--text-header-color);
}

.searchInput:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  .searchInput {
    width: 164px;
  }
}