.header {
  display: flex;
  border-bottom: 1px solid #f4f4f4;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  width: 100%;
  /* position: sticky; */
}

.iconHeader {
  cursor: pointer;
  transition: all 0.3s;
  padding: 5px;
  background-color: #ffffff;
  border: none;
}

.iconHeader:hover,
.iconHeader:focus {
  padding: 5px;
  background-color: #e4e4e4;
  border-radius: 100px;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 1rem;
  }
}
